<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <script type="javascript/text" type="module">
      import * as d3 from "https://cdn.skypack.dev/d3@7";

        const geoJson = <%-JSON.stringify(pathData2)%>;

        let projection = d3.geoEquirectangular();


        let u = d3
          .select("#chart")
          .selectAll("path")
          .data(geoJson.features)
          .join("path")
          .attr("d", geoGenerator);
    </script>
    asdfasdf
    <svg id="#chart"></svg>
  </body>
</html>
